@using OganiShoppingProject.Models
@model Slide

<!-- partial -->
<div class="main-panel">
    <div class="content-wrapper">
        <div class="row">
            <div class="col-md-6 grid-margin stretch-card">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">SLayd</h4>

                        <form class="forms-sample" method="post" enctype="multipart/form-data">
                            <div class="form-group">
                                <label asp-for="Desc">Önsöz</label>
                                <input asp-for="Desc" type="text" class="form-control" id="exampleInputUsername1" placeholder="Mətn'">


                            </div>
                            <div class="form-group">
                                <label asp-for="Title">Başlıq</label>
                                <input asp-for="Title" type="text" class="form-control" id="exampleInputUsername1" placeholder="Başlıq">


                            </div>
                            <div class="form-group">
                                <label asp-for="Uptitle">Alt Başlıq</label>
                                <input asp-for="Uptitle" type="text" class="form-control" id="exampleInputUsername1" placeholder="Mətn">


                            </div>
                            <div>
                                <img src="~/assets/img/@Model.Image" alt="image" />
                            </div>

                            <div class="form-group">
                                <label asp-for="Photo">Photo</label>
                                <input asp-for="Photo" class="form-control" id="exampleInputUsername1" placeholder="Foto">

                                <span asp-validation-for="Photo"></span>
                            </div>

                            <button type="submit" class="btn btn-primary me-2">Qeyd Edin</button>

                        </form>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <!-- content-wrapper ends -->

</div>
<!-- main-panel ends -->