@using OganiShoppingProject.ViewModel.AdminPanel.ProductVM
@using OganiShoppingProject.Models
@model CreateProductVM
<div class="col-md-6 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Yeni Məhsul</h4>

            <form class="forms-sample" method="post" enctype="multipart/form-data">
                <div class="form-group">
                    <label asp-for="Name">Məhsul Adı</label>
                    <input asp-for="Name" type="text" class="form-control" placeholder=" adı">
                    <span asp-validation-for="Name"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Price">Məhsulun qiyməti</label>
                    <input asp-for="Price" type="text" class="form-control" placeholder="qiymət">
                    <span asp-validation-for="Price"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Desc">Məhsul haqda məlumat</label>
                    <input asp-for="Desc" type="text" class="form-control" placeholder="metn">
                    <span asp-validation-for="Desc"></span>
                </div>
                <div class="form-group">
                    <label asp-for="InStock">Məhsulun mövcud olub-olmaması</label>
                    <input asp-for="InStock" type="text" class="form-control" placeholder="true or false">
                    <span asp-validation-for="InStock"></span>
                </div>

                <div class="form-group">
                    <label asp-for="Photo">Photo</label>
                    <input asp-for="Photo" class="form-control" id="exampleInputUsername1" placeholder="Foto">

                    <span asp-validation-for="Photo"></span>
                </div>

                <div class="multi-select">
                    <div class="selectBox" onclick="showCheckboxes('sizesCheckboxes')">
                        <h5> Ölçüsü</h5>
                        <select>
                            <option>

                            </option>
                        </select>
                        <div class="overSelect"></div>
                    </div>
                    <div id="sizesCheckboxes" class="checkbox-container">
                        @foreach (var size in ViewBag.Sizess)
                        {
                            <div>
                                <input type="checkbox" name="SizeIds" value="@size.Id" />
                                @size.Name
                            </div>

                        }
                    </div>
                    <span asp-validation-for="SizeIds" class="text-danger">

                    </span>



                </div>
                <div class="form-group">
                    <label asp-for="CategoryId">Kateqoriya</label>
                    <select asp-for="CategoryId">
                        <option selected disabled>
                            Seçim
                        </option>
                        @foreach (Category item in ViewBag.Categories)
                        {
                            <option value="@item.Id">@item.Name</option>
                        }
                    </select>
                    <span asp-validation-for="CategoryId"></span>
                </div>

                <button type="submit" class="btn btn-primary mr-2">Qeyd edin</button>

            </form>
        </div>
    </div>
</div>


<script>
    function showCheckboxes(checkboxesId) {
        var checkboxes = document.getElementById(checkboxesId);
        if (checkboxes.style.display === "none") {
            checkboxes.style.display = "block";
        }
        else {
            checkboxes.style.display = "none";
        }

    }
</script>