@using OganiShoppingProject.Models
@model Settings
<div class="col-md-6 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Yeni Məlumat</h4>

            <form class="forms-sample" method="post">
                <div class="form-group">
                    <label asp-for="Key">Melumat</label>
                    <input asp-for="Key" type="text" class="form-control" placeholder="Melumat">
                    <span asp-validation-for="Key"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Value">Dəyəri</label>
                    <input asp-for="Value" type="text" class="form-control" placeholder="Deyeri">
                    <span asp-validation-for="Value"></span>
                </div>

                <button type="submit" class="btn btn-primary mr-2">Qeyd Edin</button>

            </form>
        </div>
    </div>
</div>

