@using OganiShoppingProject.ViewModel.AdminPanel.FavoriteProductVM
@using OganiShoppingProject.Models

@model UpdateFavoriteProductVM

<!-- partial -->
<div class="main-panel">
    <div class="content-wrapper">
        <div class="row">
            <div class="col-md-6 grid-margin stretch-card">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Məhsul</h4>

                        <form class="forms-sample" method="post" enctype="multipart/form-data">
                            <div class="form-group">
                                <label asp-for="Name">Məhsul Adı</label>
                                <input asp-for="Name" type="text" class="form-control" id="exampleInputUsername1" placeholder="Məhsul adı">


                            </div>
                            <div class="form-group">
                                <label asp-for="Price">Məhsul Qiyməti</label>
                                <input asp-for="Price" type="text" class="form-control" id="exampleInputUsername1" placeholder="Qiymət">


                            </div>
                            <div class="form-group">
                                <label asp-for="Desc">Mətn</label>
                                <input asp-for="Desc" type="text" class="form-control" placeholder="metn">
                                <span asp-validation-for="Desc"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="InStock">Məhsulun mövcud olun-olmaması</label>
                                <input asp-for="InStock" type="text" class="form-control" placeholder="true or false">
                                <span asp-validation-for="InStock"></span>
                            </div>

                            <div>
                                <img src="~/assets/img/@Model.Image" alt="image" />
                            </div>

                            <div class="form-group">
                                <label asp-for="Photo">Photo</label>
                                <input asp-for="Photo" class="form-control" id="exampleInputUsername1" placeholder="Foto">

                                <span asp-validation-for="Photo"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="CategoryId">Kateqoriya</label>
                                <select asp-for="CategoryId">
                                    <option selected disabled>
                                        Seçim
                                    </option>
                                    @foreach (Category item in ViewBag.Categories)
                                    {
                                        <option value="@item.Id">@item.Name</option>
                                    }
                                </select>
                                <span asp-validation-for="CategoryId"></span>
                            </div>
                            <div class="multi-select">
                                <div class="selectBox" onclick="showCheckboxes('sizesCheckboxes')">
                                    <h5> Ölçüsü</h5>
                                    <select>
                                        <option>
                                            Seçim
                                        </option>
                                    </select>
                                    <div class="overSelect"></div>
                                </div>
                                <div id="sizesCheckboxes" class="checkbox-container">
                                    @foreach (var size in ViewBag.Sizess)
                                    {
                                        <div>
                                            <input type="checkbox" name="SizeIds" value="@size.Id" />
                                            @size.Name
                                        </div>

                                    }
                                </div>
                                <span asp-validation-for="SizeIds" class="text-danger">

                                </span>



                            </div>

                            <button type="submit" class="btn btn-primary me-2">Qeyd Edin</button>

                        </form>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <!-- content-wrapper ends -->

</div>
<!-- main-panel ends -->
<script>
    function showCheckboxes(checkboxesId) {
        var checkboxes = document.getElementById(checkboxesId);
        if (checkboxes.style.display === "none") {
            checkboxes.style.display = "block";
        }
        else {
            checkboxes.style.display = "none";
        }

    }
</script>