<div class="container">
    <div class="row">
        <div class="col-lg-3 col-md-3">
            <div class="product__details__pic">
                <div class="product__details__pic__item">
                    <img class="product__details__pic__item--large"
                         src="~/Admin/images/2379fd230bfbf292a0cd0f0645c35ceb.jpg" alt="">
                </div>

            </div>
        </div>
        

    </div>
</div>