@using OganiShoppingProject.Models
@model Category
<div class="col-md-6 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Kateqoriya </h4>

            <form class="forms-sample" method="post">
                <div class="form-group">
                    <label asp-for="Name">Kateqoriya</label>
                    <input asp-for="Name" type="text" class="form-control" placeholder="Kateqoriya">
                    <span asp-validation-for="Name"></span>
                </div>

                <button type="submit" class="btn btn-primary mr-2">Qeyd Edin</button>

            </form>
        </div>
    </div>
</div>

